/* Quitar botones de aumento/disminución en inputs numéricos */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Personalización del cursor */
.form-range::-webkit-slider-thumb {
  cursor: pointer;
}